header{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h3{
    color: black;
    text-align: center;
    font-size: 20px;
}

.colors{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#white{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#grey{
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid black;
}

#red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    border: 2px solid black;
}

#blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid black;
}

#green{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 10px;
    border: 2px solid black;
}

#purple{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 10px;
    border: 2px solid black;
}

#black{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
}